/* 
 * This style sheet is used by khtml to render HTML pages in quirks mode
 * (C) 2000-2003 Lars Knoll (knoll@kde.org)
 *
 * Konqueror/khtml relies on the existence of this style sheet for
 * rendering. Do not remove or modify this file unless you know
 * what you are doing.
 */

/* Give floated images margins of 3px */
img[align="left"] {
    margin-right: 3px;
}
    
img[align="right"] {
    margin-left: 3px;
}

/* Tables reset both line-height and white-space in quirks mode.
   Compatible with WinIE.   Note that font-family is *not reset*.  */
TABLE {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -khtml-text;
}


